@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

:root {
    --main-font: 'Noto Sans', sans-serif;
    --main-color: #00ff88;
    --secondary-tx-color: #77ffc0;
    --terciary-tx-color: #f0ffff94;
    --main-bg-color: #201b2c;
    --box-bg-color: #2f2841;
    --box-sdw-color: #00000056;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

.left-side p {
    color: var(--secondary-tx-color);
    font-weight: 800;
    font-size: 2vw;
}

main img {
    width: 30vw;
}

.left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 35px;
    background-color: var(--box-bg-color);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--main-color);
}

.login-box h1 {
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: inline-block;
}

#github-link {
    width: 20px;
    height: 20px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.user-data {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 20px var(--box-sdw-color);
    outline: none;
    box-sizing: border-box;
}

.user-data:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.user-data::placeholder {
    color: var(--terciary-tx-color);
}

#lgn-btn {
    width: 100%;
    padding: 16px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--box-bg-color);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

#lgn-btn:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

#lgn-btn:focus {
    background-color: var(--terciary-tx-color);
    box-shadow: none;
}

.forgot-pass {
    color: var(--terciary-tx-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
}

.right-side p {
    color: var(--terciary-tx-color);
    text-decoration: none;
    font-size: 14px;
    padding-top: 15px;
    font-weight: 800;
    border-top: 1px solid #f0ffff2d;
}

#reg-link {
    color: var(--main-color);
    text-decoration: none;
}

@media only screen and (max-width: 1050px) {
    .login-box {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .left-side p {
        display: none;
    }
    .left-side {
        width: 100%;
        height: auto;
    }
    .left-side img {
        width: 70vw;
    }
    .right-side {
        width: 100%;
        height: auto;
    }
}